body {
  margin: 0px;
  padding: 0px;
}

/** Navbar **/
nav {
  height: 80px;
  top: 0;
  background-color: white;
  margin: 10px;
}

.topnav {
  position: static;
  z-index: 10;
  width: 100%;
  background-color: white;
}


nav img {
  width: 120px;
  height: auto;
  float: left;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}

nav li {
  display: inline-block;
  margin-left: 5px;
  list-style: none;
  float: right;
  color:black;
  margin-top:10px;
  
}
nav li a {
  text-decoration:none;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 14px 16px;
  display: block;
}

nav li a:hover {
  background-color: rgb(29, 185, 84);
  color: white;
  border-radius: 20px;
}



/** Music For Everyone Section **/

div .container-1 {
    display: flex;
  position: fixed;
  text-align: center;
  color: white;
  place-items: center;
  
}

#MusicForIMG {
position:absolute;
width: 100% ;
  z-index: -1;
  display:inline-block;
}

#MusicForH1 {
  position: absolute;
  color: white;
  left: 40%;
  top:300px;
  z-index: 10;
}
#MusicFor {
  position: absolute;
  color: white;
  left: 40%;
  top:400px;
  z-index: 10;

}


/** Container de tres fotitos una al costat de l'altra **/

.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 800px;
  position: absolute;
}
.container-2 img {
  width: 300px;
  height: auto;
  border-radius: 20px;
  display: inline-block;
}

.container-2 h2 {
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  justify-self: center;
  margin-bottom: 50px;
  clear:both;
}

.container-2 p {
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
 
  justify-content: center;
}
.container-2 h3 {

  text-align: center;
  color: rgb(29, 185, 84);
  font-family: Arial, Helvetica, sans-serif;
  
  justify-content: center;
}

.whats {
  width: 30%;
  height: auto;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
}

