nav {
  height: 80px;
  top: 0;
  background-color: white;
  margin: 10px;
}

.topnav {
  position: static;
  z-index: 10;
  width: 100%;
  background-color: white;
}


nav img {
  width: 120px;
  height: auto;
  float: left;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-left: 5px;
  list-style: none;
  float: right;
}

div .container-1 {
    display: flex;
  position: fixed;
  text-align: center;
  color: white;
  place-items: center;
}
#MusicForIMG {
position:absolute;
width: 100% ;
  z-index: -1;
  display:inline-block;
}

#MusicForH1 {
     position: absolute;
  color: white;
  left: 40%;
  top:300px;
  z-index: 10;
}
#MusicFor {
  position: absolute;
  color: white;
  left: 40%;
  top:400px;
   z-index: 10;

}

body {
  margin: 0;
  padding: 0;
}
